<!-- tab1.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Mis Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let noticia of noticiasDisponibles">
      <ion-checkbox slot="start" (ionChange)="seleccionarNoticia(noticia, $event.detail.checked)"></ion-checkbox>
      <ion-label>
        <!-- color="primary" para mostrar el source.name en azul -->
        <ion-text color="primary">{{ noticia.source.name }}</ion-text>
        <p>{{ noticia.title }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

